@import url('https://fonts.googleapis.com/css?family=Mate+SC');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    min-height: 100vh;

    margin: 0;
}

h1 {
    text-align: center;
    font-family: "Mate SC";
}

a {
    text-decoration: none;
    color: orange;
    font-family: 'Mate SC';
}