body {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "header header"
                         "sidebar main";
}

.navbar {
    grid-area: header;

    display: flex;
    align-items: center;
    gap: 1rem;

    margin-top: 0;

    padding: 0.5rem;
    box-sizing: border-box;

    background-color: rgb(51, 102, 255);
}

.logo {
    height: 2rem;
}

.title {
    text-align: left;
    margin: 0;
    flex: 1;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    font-size: 2rem;

    width: max-content;
}

.nav-links > a {
    display: block;
}

.sidebar {
    grid-area: sidebar;

    padding: 0.5rem;
    box-sizing: border-box;

    line-height: 1;
    background-color: rgb(102, 153, 255);
    word-break: break-all;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sword {
    width: 3rem;
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-link:hover > .sword {
    transform: scaleX(-1);
}

main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(100, 120, 153);
}

.about {
    width: calc(100% - 2rem);

    margin: 1rem;

    text-align: center;

    border-radius: 3rem;

    font-family: "Permanent Marker";

    color: black;
    background-color: rgb(225, 153, 51);
}

.about > h1 {
    font-family: "Permanent Marker";
}

.about:hover {
    background-color: green;
}

.weapon-header {
    font-family: 'Sigmar One';
    background-color: cornflowerblue;
    width: min-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.weapons {
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    width: 100%;
}

.weapons > a {
    width: 16rem;

    padding: 0 1rem;
    box-sizing: border-box;

    border: solid 0.3rem black;

    border-radius: 10px;

    font-family: 'Permanent Marker';

    color: black;
    background-color: rgb(225, 153, 51);
}

.weapons > a:hover {
    background-color: red;
}

.weapons > .sabre:hover {
    background-color: green;
}

.weapon-img {
    width: 100%;
    border-radius: 1rem;
}