@import url('https://fonts.googleapis.com/css?family=Mate+SC');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
h1.Title{
  display: inline;
  font-family: 'Mate SC';
}
img.Title{
  width: 25px;
  margin-top: 0;
}

nav.navlinks{
  display: inline;
  font-size: 32px;
  text-align: right;
}

.topbar{
  background-color: rgb(51, 102, 255);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
}

*{
  margin-top: 31px;
}

ul{
  position: fixed;
  top: 32px;
  left: 0;
  right:0;
  list-style: none;
  width: 100px;
  margin-left: 0;
  line-height: 1;
  background-color: rgb(102, 153, 255);
  word-break: break-all;
  height: 100%;
}

.sabre, .epee, .foil{
  margin-left: 190px;
  width: 200px;
  display: inline-block;
  border: solid;
  height: 400px;
  background-color: rgb(225, 153, 51);
  margin-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.About{
  margin-left: 150px;
  border-radius: 50px;
  margin-top: 40px;
  text-align: center;
  background-color: rgb(225, 153, 51);

}

.Sabreimg, .Epeeimg, .Foilimg{
  width: 180px;
  margin-left: 10px;
  border-radius: 20px;

}

.weapons{
  background-color: rgb(100, 120, 153);
  padding-bottom: 10px;
  position: absolute;
  top: 0px;
  bottom: -182px;
  width: 99.35%;
  z-index: -1;
}

.weaponheader{
  margin-top: 230px;
  font-family: 'Sigmar One';
  background-color: cornflowerblue;
  width: 175px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.epee:hover{
  background-color: red;
}

.sabre:hover{
  background-color: green;

}

.foil:hover{
  background-color: red;
}

.About:hover{
  background-color: green;
}

.Sabrenavimg, .Epeenavimg, .Foilnavimg{
  width: 50px;
  display: inline;
}

.NAVSABRE .Sabrenav2 {
  width: 50px;
  display: none;
  z-index: 99;
}

.NAVSABRE:hover .Sabrenav2{
  display: inline;
}

.NAVSABRE:hover .Sabrenavimg{
  display: none;
}

.NAVEPEE .Epeenav2 {
  width: 50px;
  display: none;
  z-index: 99;
}

.NAVEPEE:hover .Epeenav2{
  display: inline;
}

.NAVEPEE:hover .Epeenavimg{
  display: none;
}

.NAVFOIL .Foilnav2 {
  width: 50px;
  display: none;
  z-index: 99;
}

.NAVFOIL:hover .Foilnav2{
  display: inline;
}

.NAVFOIL:hover .Foilnavimg{
  display: none;
}

a{
  text-decoration: none;
  color: orange;
  font-family: 'Mate SC';
}

.Headerweapons{
  font-family: 'Permanent Marker';
}
